
.movie-poster-image {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.movie-poster-image:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: transform .5s;
  box-shadow: 0 0 30px 3px #fbe832;
}

.movie-preview-container {
  margin: 2%;
}

.preview-rating {
  border-radius: 15px;
  font-size: 130%;
  font-weight: bolder;
  height: 20px;
  padding: 10px 12px 0 12px;
  z-index: 100;
}

.preview-user-rating {
  align-self: flex-end;
  padding: 10px 15px 0 12px;
}

.rating-lemon {
  position: absolute;
  width: 56px;
  z-index: 90;
}

.user-rating-bundle,
.rating-bundle {
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}

.user-rating-bundle {
  margin-left: 0%;
  margin-right: 4%;
}

.user-rating-lemon {
  position: absolute;
  width: 56px;
  z-index: 90;
}

.preview-rating-button {
  background-color: #fbe832;
  border: 0;
  border-radius: 3px;
  color: black;
  font-size: 1em;
  font-weight: bold;
  height: 20px !important;
  margin-top: 10px;
  padding: 0;
  position: relative;
  text-decoration: none;
  width: 60px;
  z-index: 100;
}

.preview-rating-button:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: transform .5s;
  box-shadow: 0 0 10px 1px #fbe832;
}

.ratings {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0% 5%;
  position: relative;
  top: 15%;
  width: 180px;
}

.user-rating-label,
.avg-rating-label {
  position: relative;
  width: 20px;
  height: 10px;
  font-size: .6em;
  z-index: 100;
}

.user-rating-label {
  padding-right: 5px;
}
