.movie-poster-image {
  height: 300px;
  width: 200px;
  object-fit: cover;
}

.movie-poster-image:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: transform .5s;
  box-shadow: 0 0 30px 3px #fbe832;
}

.movie-preview-container {
  margin: 2%;
}

.preview-avg-rating {
  font-size: 130%;
  position: relative;
  top: 11%;
  left: 80%;
  font-weight: bolder;
  background-color: #fbe832;
  width: 20px;
  padding: 5px;
  height: 20px;
  border-radius: 15px;
  z-index: 100;

}
