* {
  margin: 0px;
  padding: 0px;
}

.movie-details-container {
  background: rgb(255,237,48);
  background: linear-gradient(0deg, rgba(255,237,48,1) 0%, rgba(255,255,255,1) 64%);
  border-radius: 10px;
  display: flex;
  height: 80%;
  margin-top: 110px;
  width: 90%;
}

.movie-backdrop {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  object-fit: cover;
  width: 60%;
}

.movie-details {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.close-button {
  background-color: #FFF;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 100%;
  font-weight: bolder;
  height: 30px;
  margin: 40% 0% 0% 670%;
  width: 30px;
}

.rating-error-msg {
  align-items: flex-end;
  color: red;
  display: flex;
  font-weight: bold;
  height: 2rem;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
}

.remove-rating-button,
.submit-rating-button {
  background-color: #292c33;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 30px;
  margin: 2% 4%;
  width: 150px;
}

#rating-dropbox {
  height: 30px;
  font-size: 100%;
  width: 70px;
}

.movie-title {
  font-size: 180%;
  margin: 4% 0% 3% 0%;
}

.movie-overview {
  margin-top: 5%;
  width: 90%;
}

.close-button:hover,
.remove-rating-button:hover,
.submit-rating-button:hover {
  box-shadow: 0 0 2px 1px gray;
  cursor: pointer;
  transform: scale(1.06);
  transition: transform .5s;
}

.rating-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 50%;
}

.movie-number {
  font-size: 100%;
  margin: 2% 10% 2% 10%;
}

.bold-text {
  font-weight: bold;
}
