
.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clapper {
  padding-top: 610px;
  height: 80%;
  position: absolute;
}

.login-msg {
  font-size: 5em;
  margin-bottom: 115px;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

#main {
  background-color: #292c33;
  height: 100vh;
}

.main-app-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

