/* #fbe832 yellow*/
/* #292c33 charcoal */

* {
  margin: 0px;
  padding: 0px;
  font-family: Varela Round;
}

#title {
  font-size: 250%;
  font-family: Fredoka One;
  font-weight: lighter;
  position: absolute;
  left: 80px;
  margin-left: 5px;
  color: #FFF;
}

.nav {
  align-items: center;
  background-image: url(../../Assets/film_reel_nav_yellow_nf.png);
  background-size: contain;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  opacity: 90%;
  top: 0;
  width: 100%;
  z-index: 120;
}

#logo {
  background-image: url(../../Assets/lemon_slice.jpg);
  background-size: contain;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.login-button,
.logout-button {
  background-color: #292c33;
  border: none;
  color: #fbe832;
  font-size: 100%;
  font-weight: bold;
  height: 40px;
  text-decoration: none;
  width: 80px;
}

.login-button:hover,
.logout-button:hover {
  background-color: #fbe832;
  border: none;
  color: #292c33;
  cursor: pointer;
  height: 50px;
}

.login-button {
  height: 35px !important;
  padding-top: 13px;
  text-align: center;
}

#welcome-message {
  color: #FFF;
  margin-left: 20%;
}

#email {
  background-color: #a3ffcd;
  font-size: 80%;
}
