form {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: form;
  justify-content: flex-start;
  margin: 50px;
}

input {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 1.3em;
  height: 50px;
  margin-bottom: 30px;
  text-indent: .5em;
  width: 300px;
}

.login-btn {
  font-size: .8em;
  font-weight: bold;
  height: 2.5em;
  width: 10em;
}

.login-btn:hover {
  background-color: #E6D531;
  cursor: pointer;
}
