.movies-display-container {
  margin-top: 80px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 80vh;
}

.top-rated-movies {
  /* border: solid 2px red; */
  width: 100%;
}

.bottom-display-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
