* {
  margin: 0px;
  padding: 0px;
}

main {
  align-items: center;
  background-color: #292C33;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.login-page {
  align-items: center;
  border-radius: 3px;
  display: grid;
  grid-template-areas:
  'msg msg'
  'clapper form';
  height: 70%;
  margin: 5%;
  padding: 20px;
}

.clapper {
  grid-area: clapper;
  height: 400px;
}

.login-msg {
  color: white;
  font-size: 5em;
  grid-area: msg;
  margin-top: 20px;
  text-align: center;
}
